<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Loopay - Sua plataforma de compra e venda de produtos</title>
</head>
<body>
    <h1>Visualizar Categorias de Produtos</h1>
    <div>
        <form class="search-bar" action="/buscar" method="get">
            <input type="text" name="q" placeholder="Buscar categoria desejada" required>
            <button type="submit">Buscar</button>
          </form>
    </div>

    <section class="categoria">
        <h2>Nome Categoria</h2>
        <div class="produtos-grid">
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 1">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 2">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 3">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 4">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
        </div>
      </section>

      <section class="categoria">
        <h2>Nome Categoria 02</h2>
        <div class="produtos-grid">
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 1">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 2">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 3">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
          <div class="card">
            <img src="/static/img/produto1.jpg" alt="Produto 4">
            <h3>Nome Produto</h3>
            <p>R$00,00</p>
          </div>
        </div>
      </section>

</body>
</html>