<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Loopay - Sua plataforma de compra e venda de produtos</title>
</head>
<body>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/banner.png" class="d-block w-100" alt="Produtos loja online">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Sua plataforma online de vendas! Cadastre e compre produtos em um click.</h3>
                </div>
            </div>
        </div>
        <!-- Controles do carrossel -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>

    <div class="container mt-5">
        <h1>Bem-vindo ao e-commerce</h1>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <p><a href={{url_for("usuario")}}>Cadastro de Usuário</a></p>
            <p><a href={{url_for("anuncio")}}>Cadastrar Anúncio</a></p>
            <p><a href={{url_for("perguntas")}}>Responder/ Cadastrar Perguntas</a></p>
            <p><a href={{url_for("categoria")}}>Categorias de Produtos</a></p>
            <p><a href={{url_for("relatorio_vendas")}}>Relatório de Vendas</a></p>
            <p><a href={{url_for("relatorio_compras")}}>Relatório de Compras</a></p>
            <p><a href={{url_for("logout")}}>Logout</a></p>
        </div>
    </div>

<script src="../static/js/bootstrap.bundle.min.js"></script>   
</body>
</html>