<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Loopay - Sua plataforma de compra e venda de produtos</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="passwd">Password</label></p>
        <p><input type="text" id="passwd" name="passwd"></p>

        <a href="#" class="btn">Cadastrar</a>
    </form>
</body>
</html>